<%= stylesheet_link_tag 'page/home.css' %>

<div class="home_container">
  
  <% if current_usuario %>
    <p>Seja bem vindo, <%= current_usuario.nome %>, você é um <%= current_usuario.type %>! </p>
  <% else %>
    <p>Seja bem vindo!</p>
  <% end %>

</div>
