<%= stylesheet_link_tag 'layout/navbar.css' %>

<header class="container_navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/singup">Cadastrar</a></li>
      <li><a href="/singin">Login</a></li>
    </ul>
</header>